@import url('https://fonts.googleapis.com/css2?family=Asap&family=IBM+Plex+Sans+KR&family=Jua&display=swap');

body
{
  background-color: #c9b58d;
}

.container {
  display: flex;
}

.box {
  flex: 33.33%;
  height: 100vh;
  text-align: right;
  vertical-align : center;
  font-family: 'Asap', sans-serif;
  color: rgb(126, 116, 96);
  display: flex;
  align-items: center;
  justify-content: space-around;

}	

.box h1{
  background: transparent;
  border: none;
  outline: none;
  font-family: 'ASAP';
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.025em;
  width: 100%;
  z-index: 100;
  position: relative;
  margin-bottom: 20px;
  transition: color 125ms ease-in-out;
}

.box link
{
  background-color: red;
}

.box:hover{
  background-color: #c3af89;
}

.box img{
  width: 10vw;
  height: 18vh;
  white-space: nowrap;
  margin-bottom: 2vw;
}
