@import url('https://fonts.googleapis.com/css2?family=Asap&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Jua&display=swap');

body
{
  background-color: #c9b58d;
  font-family: 'Gowun Dodum', sans-serif;
}

.container,.CreateForm {
  display: flex;
}

.box {
  flex: 33.33%;
  height: 95vh;
  text-align: right;
  vertical-align : center;
  font-family: 'Asap', sans-serif;
  color: rgb(126, 116, 96);
  display: flex;
  align-items: center;
  justify-content: space-around;
}	

.box h1{
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Asap', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.025em;
  width: 100%;
  z-index: 100;
  position: relative;
  margin-bottom: 20px;
  transition: color 125ms ease-in-out;
}

.box link
{
  background-color: red;
}

.box:hover{
  background-color: #c3af89;
}

.box img{
  width: 10vw;
  height: 18vh;
  white-space: nowrap;
  margin-bottom: 2vw;
}

.CreateForm
{
  padding: 20px;
}

.CreateForm h1
{
  font-family: 'Gowun Dodum', sans-serif;
  padding: 20px;
  padding-left: 40px;
  margin-bottom: 50px;
}

.todayPhoto,.todayPhotoload
{
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 30px;
  width: 20vw;
  height: 30vh;
}

.todayPhoto:hover
{
  /* border: 4px solid #c3af89 ; */
  border: 0.1px solid #94836f ;
  padding: -4px;
}

.filebox p
{
  margin-left: 150px;
  font-size: 25px;
  width: 180px;
  font-family: 'Gowun Dodum', sans-serif;
}

.filebox p:hover
{
  background-color: #94836f;
  
}

input {
  border: none;
  margin-left: 10px;
  margin-top: 5px;
  height: 5vh;
  width: 40vw;
  font-size: 20px;
  margin-bottom: 10px;
  background-color :#c9b58d;
}

input:focus {
  outline:1px solid #94836f;
}

textarea {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
  resize: none;
  width: 40vw;
  height: 20vh;
  border: none;
  background-color :#c9b58d;
}

textarea:focus {
  outline:1px solid #94836f;
}

.btnSave
{
  background-color: #c9b58d;
  border: none;
  font-size: 25px;
  margin-left: 300px;
}


/* .CreateBox {
  flex: 50%;
  height: 90vh;
  width: 50%;
  display: block;
  float: left;
  justify-content: space-around;
}	 */


.CreateBox{
  flex: 50%;
  height: 95vh;
  font-family: 'Gowun Dodum', sans-serif;
  color: rgb(0, 0, 0);
  float: left;
}


.footer
{
  background-color: #c3af89;
  height: 5vh;
}